<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.MesPotnoweightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.MesPotnoweight">
        <id column="id" property="id" />
        <result column="runtime" property="runtime" />
        <result column="potno" property="potno" />
        <result column="planweight" property="planweight" />
        <result column="zweight" property="zweight" />
        <result column="createdatetime" property="createdatetime" />
        <result column="forecast" property="forecast" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, runtime, potno, planweight, zweight, createdatetime,forecast
    </sql>

</mapper>
