<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.RulesHelpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.RulesHelp">
        <id column="id" property="id" />
        <result column="alias" property="alias" />
        <result column="mark" property="mark" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="obj1" property="obj1" />
        <result column="obj2" property="obj2" />
        <result column="obj3" property="obj3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, alias, mark, createtime, updatetime, obj1, obj2, obj3
    </sql>

</mapper>
