@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
           <!-- <div class="ibox-title">
                <h5>效率参数分析</h5>
            </div>-->

            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="newDate" name="日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon class="input-group" id="workCode" name="车间" >
                                    <option value="1">一车间</option>
                                    <option value="2">二车间</option>
                                    <option value="3">三车间</option>
                                    <option value="4">四车间</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="startInt" name="效率区间A" placeholder="0"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="endInt" name="效率区间B" placeholder="500" />
                            </div>

                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="Warehouse.search()"/>
                            </div>
                        </div>

                        <!--雷达图-->
                        <div id="container" style="height:500px;"></div>

                        <#table id="WarehouseTable"/>

                        <div class="row">
                            <h2 >效率参数分析</h2>
                            <#table id="WarehouseTableA"/>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/ecc/warehouse/parameterUnalysis.js"></script>
@}
