@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <!--  <div class="ibox-title">
                <h5>效率参数分析</h5>
            </div>-->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="startTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon class="input-group" id="workCode" name="车间" >
                                    <option value="1">一车间</option>
                                    <option value="2">二车间</option>
                                    <option value="3">三车间</option>
                                    <option value="4">四车间</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon class="input-group" id="potNo" name="槽号" >
                                    <option>1001</option>
                                    <option>1002</option>
                                    <option>1003</option>
                                    <option>1004</option>
                                    <option>1005</option>
                                </#SelectCon>
                            </div>

                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="Warehouse.search()"/>
                            </div>
                        </div>

                        <div class="row"  style="margin-top:30px;">
                            <div class="col-sm-5" >
                                <div class="col-sm-7" >
                                    <#NameCon id="drcl"  name="设定电压(mV)" /><p/>
                                </div>
                                <div class="col-sm-7" >
                                    <#NameCon  id="drxl" name="电解质单位压降(mV)" /><p/>
                                </div>
                                <div class="col-sm-7" >
                                    <#NameCon id="ljxl" name="极距(cm)" /><p/>
                                </div>
                                <div class="col-sm-7" >
                                    <#NameCon id="ljdh" name="固定电压(mV)" /><p/>
                                </div>
                                <div class="col-sm-7" >
                                    <#NameCon id="pjdy" name="预设电压(mV)" /><p/>
                                </div>

                            </div>
                            <div class="col-sm-7" ><img class="img-thumbnail" style="height:238px;" src="${ctxPath}/static/img/singlePotno03.png"></div>
                        </div>

                    </div>
                    <!--雷达图-->

                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/ecc/warehouse/voltageSetting.js"></script>
@}
